[flake8]
# Maximum line length
max-line-length = 160

# Ignore specific linting errors
ignore = E303, E402, E741, F403, F405, F841, E501

# Exclude third-party libraries and other files/folders from linting
exclude =
    .venv,
    venv,
    __pycache__,
    build,
    dist,
    .tox,
    .git,
    .mypy_cache,
    .pytest_cache,
    .venv-py311
